img{
    margin-left: 40%;
    width: 300px;
}
h1{
    margin-top: 5%;
    margin-left: 695px;
    font-family: bold;
    color: red;
}
main{
    display: flex;
}

.introdução{
    margin-left: 10%;
    width: 40%;
    margin-bottom: 30px;
}

.Serviços{
    margin-left: 3%;
    width: 40%;
    margin-bottom: 60px;
}

footer{
    display: flex;
    background: #F7A1D0;
    padding-bottom: 40px;
}

 .Redes{
    margin-left: 50%;
    display: inline-block;

 }
 
 .Redes img{
    width: 50px;
 }

 .Redes li{
    list-style: none;
    padding: 0;
    margin-right: 600px;
 }
 a{
    text-decoration: none;
 }

 ul{
    list-style: none;
 }

.telefone{
    margin-bottom: 20px;
}

.email{
    margin-bottom: 20px;
}

.seções{
    font-size: 21px;
    display: inline-flex;
    margin-left: 720px;   
}

.sobre{
    margin-right: 10px;
}

.loja{
    margin-right: 10px;
}

.produtos{
    margin-right: 10px;
}
