body {
    background-color: #f1f1f1;
    font-family: 'Inter';
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* Evita rolagem horizontal */
}

.header1 {
    background-color: #0C2A43;
    color: #ffff;
    height: 45px;
    width: 100%;
    margin-right: 0;
    padding-top: 10px;
}

.header1 figure {
    position: relative;
    bottom: 10px;
    left: 120px;
}

.header1 h1 {
    font-size: 18px;
    margin-left: 198px;
    margin-top: -54px;
}

.header1 h2 {
    font-size: 14px;
    margin-left: 80%;
    margin-top: -32px;
    font-weight: 600;
}

.header2 {
    background-color: #ffffff;
    color: #0C2A43;
    height: 45px;
    width: 100%;
    padding-top: 10px;
}

.header2 ul {
    margin-top: -72px;
    margin-left: 80px;
}

.header2 ul li {
    list-style: none;
    display: inline-block;
    margin-left: 70px;
    font-weight: 400;
}

.header2 ul li:nth-last-child(1) {
    font-weight: 700;
    border: #dfdfdf solid 1px;
    padding: 10px 46px;
    border-radius: 5px;
    position: relative;
    top: 1px;
    left: 560px;
}

.header2 ul li:nth-last-child(4) {
    color: #027A48;
    font-weight: 700;
}

.setaprabaixo {
    position: relative;
    width: 14px;
    left: 1125px;
    bottom: 10px;
}

.usuario {
    position: relative;
    width: 18px;
    left: 1000px;
    bottom: 5px;
}

.casinha-inicial {
    position: relative;
    bottom: 26px;
    left: 116px;
    width: 20px;

}

.documento {
    position: relative;
    bottom: 17px;
    left: 250px;
    width: 32px;
}

.ajuda {
    position: relative;
    bottom: 20px;
    left: 410px;
    width: 32px;
}

.saida {
    position: relative;
    bottom: 16px;
    width: 32px;
    left: 1095px;
}

.bg1 {
    background-color: #ffffff;
    width: 42%;
    padding-top: 1px;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 155px;
    box-shadow: 0px 5px 10px #8b8787;
}

.bg1 h1 {
    color: #12B76A;
    font-size: 90px;
    margin-left: 45px;
    margin-top: 20px;
}

.bg1 h2 {
    color: #0C2A43;
    font-size: 26px;
    margin-top: -160px;
    margin-left: 130px;
    margin-bottom: 120px;
}

.bg1 p img{
    position: relative;
    width: 26px;
    top: 6px;
    right: 5px;
}
.bg1 p {
    color: #656D77;
    margin-left: 90px;
    margin-bottom: 50px;
}

.linhavertical {
    position: relative;
    width: 34px;
    size: 100px;
    transform: rotate(90deg);
    top: 323px;
    right: 415px;
}

.bg1 p:nth-last-child(7) {
    font-size: 15px;
    margin-top: -85px;
    margin-left: 130px;
    margin-bottom: 90px;
}

.bg1 hr {
    margin-top: -35px;
}

.bg1 strong {
    color: #56595d;
    font-weight: 600;
}

.bg1 ul {
    color: #56595d;
    background-color: #F1F1F1;
    padding: 8px;
    box-shadow: 0px 0px 8px #cbc7c7;

}

.bg1 ul li {
    list-style: none;
    display: inline-block;
    margin-left: 35px;
    font-size: 14px;
    line-height: 25px;
}

.bg1 ul li:nth-child(2) {
    width: 20%;
}

.bg1 p:nth-last-child(6) {
    margin-top: 50px;
    margin-bottom: 30px;
}

.bg1 p:nth-last-child(4) {
    margin-top: 30px;
    margin-bottom: 50px;
}

.bg1 p:nth-last-child(2) {
    font-size: 14px;
    margin-bottom: -20px;
    margin-left: 40px
}

.bg1 button {
    color: #ffff;
    font-weight: 600;
    font-size: 10px;
    background-color: #12B76A;
    border: none;
    border-radius: 2px;
    height: 30px;
    width: 180px;
    margin-left: 400px;
    margin-bottom: 20px;
}


.bg2 {
    background-color: #ffffff;
    width: 30%;
    height: 300px;
    padding-top: 1px;
    border-radius: 8px;
    margin-top: -550px;
    margin-left: 840px;
    box-shadow: 0px 1px 10px #e3e1e1;
}

.bg2 h1 {
    font-size: 25px;
    color: #0C2A43;
    margin-top: 15px;
    margin-left: 45px;
    font-weight: 650;
    padding-bottom: 10px;
}

.bg2 hr {
    margin-top: 20px;
}

.documentotexto {
    font-size: 14px;
    color: #656D77;
    line-height: 1.5;
    margin-left: 20px;
    margin-top: -25px;
}

.documentocor {
    font-size: 14px;
    line-height: 1.5;
    margin-left: 20px;
    color: #12B76A;
}

.bg2 p:nth-last-child(3) {
    color: #12B76A;
}

.bg2 a {
    color: #000000;
    font-weight: 500;
}


.bg2 button {
    color: #12B76A;
    font-size: 10px;
    font-weight: 700;
    margin-left: 325px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffff;
    border: 1.5px solid #12B76A;
    border-radius: 2px;
}

.documentox {
    position: relative;;
    left: 375px;
    bottom: 34px;
    width: 15px;
}

footer {
    padding: 10px 20px;
    position: relative;
    top: 300px;
    width: 100%;
    box-sizing: border-box;
}

.footer-left {
    color: #656D77;
    margin-left: 200px;
}

.footer-right {
    position: relative;
    bottom: 35px;
    color: #656D77;
    margin-left: 800px;
}

footer ul li {
    margin-left: 30px;
    display: inline;
    list-style: none;
}