img{
    margin-left: 600px;
    width: 300px;
}
h1{
    margin-top: 50px;
    margin-left: 550px;
    font-family: bold;
    color: red;
}
main{
    display: flex;
}

.introdução{
    color: white;
    margin-left: 100px;
    width: 400px;
    margin-bottom: 30px;
    background: #c52b80;
    padding: 20px;
    border-radius: 30px;
}

.Serviços{
    color: white;
    margin-left: 400px;
    width: 400px;
    margin-bottom: 60px;
    background: #c52b80;
    padding: 20px;
    border-radius: 30px;
}

footer{
    display: flex;
    background: #eb94c4;
    margin: none;
    padding-bottom: 40px;
    border-radius: 10px;
}

 .Redes h2{
    margin-left: 700px;

 }
 
 .Redes img{
    width: 50px;
 }

 .Redes li{
    list-style: none;
    padding: 0;
    margin-right: 600px;
 }
 a{
    text-decoration: none;
 }

 ul{
    list-style: none;
 }

h3{
    color: black;
    margin-bottom: 20px;
}

.seções{
    margin-bottom: 100px;
    font-size: 21px;
    display: inline-flex;
    margin-left: 590px;   
}

.sobre{
    margin-right: 10px;
    
}

.loja{
    margin-right: 10px;
}

.produtos{
    margin-right: 10px;
}
